{
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "ignorePatterns": [
    "apollo.config.js",
    "babel.config.js",
    "jest.config.js",
    "webpack.config.js",
    "node_modules/",
    "web-build/"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react", "react-native"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/prefer-default-export": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "arrowParens": "avoid"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/style-prop-object": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
